/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 févr. 2016, 20:45:37
    Author     : Neiba Aristide
*/

.title-center{
    height: 100%; 
    width: 100%;
    display: block; 
    margin: 0px; 
    padding: 20% 0% 0% 0%;
    text-align: center;
    color: white;
    font-size: xx-large;
}

.tups{
    padding: 2%;
    list-style: none;

}

.tups li{
    display: block;
    float: left;
    height: 150px;
    width: 150px;
    margin: 50px;
    background-color: #0063DC;

}


.btn-demarrer{
    width: 200px;
    height: 120px;
    border-radius: 0% 50% 50% 0;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    left:0; top: -3px;
    width: 65px; height: 30px;
    background: #DDDDDD;
    border-radius: 15px;
    transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    width: 20px; height: 20px;
    transition: all .2s;
    border-radius: 50%;
    background: #7F8C9A;
    top: 2px; left: 5px;
}

/* on checked */
[type="checkbox"]:checked + label:before {
    background:#34495E; 
}
[type="checkbox"]:checked + label:after {
    background: #39D2B4;
    top: 2px; left: 40px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 9px;
    font-weight: bold;
    line-height: 22px;
    transition: all .2s;
}
[type="checkbox"]:not(:checked) + label .ui:before {
    content: "non";
    left: 20px
}
[type="checkbox"]:checked + label .ui:after {
    content: "oui";
    color: #39D2B4;
    left: -20px
}
[type="checkbox"]:focus + label:before {
    border: 1px dashed #777;
    box-sizing: border-box;
    margin-top: -1px;
}

#listSITE button{
    width: 400px;
}

.log{
    color: rgb(255, 162, 0);
    list-style: none;
}

.log li{
    font-size: 1.3em;
    font-family: "Courier New";
}